<!DOCTYPE html>
<html lang="ko">

<head>
{{> /include/head}}
</head>
<body>

<div class="">
  {{> /include/header}}
  {{> /include/login_modal}}
  {{> /include/signup_modal}}

  <div class="article-form">
    <h3>분노를 담아 저격해주세요!</h3>
    <div class="article-box">
      <form action="/articles/create" method="post">
        <div class="textfield-line">
          <div>
            <div class="textfield-label">분류</div>
            <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">맛집
              <input type="radio" id="list-option-1" class="mdl-radio__button" name="classify" value="1" checked />
            </label>
            <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-2">술집
              <input type="radio" id="list-option-2" class="mdl-radio__button" name="classify" value="2"  />
            </label>
            <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-3">카페
              <input type="radio" id="list-option-3" class="mdl-radio__button" name="classify" value="3"  />
            </label>
            <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-4">펜션
              <input type="radio" id="list-option-4" class="mdl-radio__button" name="classify" value="4"  />
            </label>
            <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-5">명소
              <input type="radio" id="list-option-5" class="mdl-radio__button" name="classify" value="5"  />
            </label>
          </div>
          <div>
            <div class="textfield-label">제목</div>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="sample1" name="title">
              <label class="mdl-textfield__label" for="sample1">[지역] 음식적 이름</label>
            </div>
          </div>
        </div>
        <div class="textfield-line">
          <div class="content-textfield">
            <div class="textfield-label" style="vertical-align: top">내용</div>
            <textarea class="contents-input" type="text" rows= "3" id="sample5" name="contents"></textarea>
            <label class="mdl-textfield__label" for="sample5"></label>
          </div>
        </div>
        <a href="/articles">
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"> 취소
          </button>
        </a>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          완료
        </button>
      </form>
    </div>
  </div>
</div>

{{> /include/footer}}

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="/js/login_modal.js"></script>
<script src="/js/topScroll.js"></script>
</body>
</html>