<!DOCTYPE html>
<html lang="ko">
<head>
{{> /include/head}}
</head>
<body>

<div class="">
  {{> /include/header}}
  {{> /include/login_modal}}
  {{> /include/signup_modal}}

  <nav class="article-classify">
    <ul>
      <li class="article-nav-link"><a href="/articles/classify/맛집"><i class="fa fa-tag"></i>맛집</a></li>
      <li class="article-nav-link"><a href="/articles/classify/술집"><i class="fa fa-tag"></i>술집</a></li>
      <li class="article-nav-link"><a href="/articles/classify/카페"><i class="fa fa-tag"></i>카페</a></li>
      <li class="article-nav-link"><a href="/articles/classify/명소"><i class="fa fa-tag"></i>명소</a></li>
      <li class="article-nav-link"><a href="/articles/classify/펜션"><i class="fa fa-tag"></i>펜션</a></li>
    </ul>
  </nav>
  <main>
    <div class="main-searchbar main-center-align article-searchbar">
      <form action="/articles/search" method="GET">
        <select name="searchRange">
          <option value="ALL">전체</option>
          <option value="title">제목</option>
          <option value="contents">내용</option>
        </select>
        <label for="searchValue"></label>
        <input type="text" placeholder="저격글을 검색하세요!" id="searchValue" name="query" autofocus/>
        <button type="submit">검 색</button>
      </form>
    </div>

    <a href="/articles/create">
      <p class="write-button"><i class="fa fa-pencil"></i>저격글 쓰러 가기</p>
    </a>

    <ul class="article-list-all">
      {{#articles}}
      <li id="{{id}}">
        <div class="article-box-list">
          <div>
            <img src="/uploadImage/{{fileName}}" alt="sample">
          </div>
          <div class="article-title">
            {{title}}
          </div>
          <div class="article-content-thumnail">
            <p>{{contents}}</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>{{hit}}</span>
            <span class="article-details"><i class="fa fa-comment"></i>{{countOfComment}}</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>{{agree}}</span>
            <a href="/articles/{{id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>
      </li>
      {{/articles}}
    </ul>
    <div class="article-count-navigation">
      <span><i class="fa fa-angle-left"></i></span>
      <div class="article-count">
        {{#pages}}
        <span><a href="/articles/page/{{pageNum}}">{{pageNum}}</a></span>
        {{/pages}}
      </div>
      <span><i class="fa fa-angle-right"></i></span>
    </div>

  </main>
  <div class="top-btn-area">
    <a href="#"><span class="top-btn">TOP</span></a>
  </div>
</div>

{{> /include/footer}}

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="/js/login_modal.js"></script>
<script src="/js/topScroll.js"></script>
</body>
</html>