.main-content p {
  font-family: 'Hanna', fantasy;
  font-size: 30px;
  margin: 0 3em;
  color: #EE305B;
}

.main-content .more_button {
  float: right;
  font-size: 16px;
  padding-bottom: 1px;
  border-bottom: 1px solid #EE305B;
}

.main-searchbar {
  margin: 2.5em 0em;
}

.main-searchbar input {
  margin-top: 2px;
  width: 25em;
  height: 2.5em;
  border: 3px solid #EE305B;
  border-radius: 15px;
}

.main-searchbar button {
  margin-left: -30px;
  font-size: 20px;
  width: 5em;
  height: 48px;
  background-color: #EE305B;
  color: #fff;
  border: 1px solid #EE305B;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.main-center-align {
  text-align: center;
}

.main-center-align input {
  padding-left: 2em;
  font-size: 16px;
  outline: none;
}