@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

html {
  min-width: 1080px;
}

a {
  text-decoration: none;
}

.top-btn-area {
  position: fixed;
  bottom: 8em;
  right: 5px;
  text-align: center;
}

.top-btn {
  border: solid #FF305B 1px;
  border-radius: 15px;
  padding: 5px 12px;
  transition: all, 0.3s;
  transition-timing-function: ease;
  color: #FF305B;
}

.top-btn:hover {
  color: #FFF;
  border-radius: 0;
  padding: 5px 12px;
  background-color: #FF305B;
}
