<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><a href="/">앵그리컨슈머</a></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation_link" id="login_button">로그인</a>
      <a class="mdl-navigation_link" id="signup_button">회원가입</a>

      <a class="mdl-navigation_link"><img src="/img/me.jpg" alt="profile_image"></a>
      <a class="mdl-navigation_link" href="/users/form">한재엽</a>
    </nav>
  </div>
</header>
