  <meta charset="UTF-8">
  <title>Article Detail Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/main_image.css">
  <link rel="stylesheet" href="/css/other_header.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/card_style.css">
  <link rel="stylesheet" href="/css/article_form.css">
  <link rel="stylesheet" href="/css/article_detail.css">
  <link rel="stylesheet" href="/css/article_list.css">
  <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.css">