<!-- signup modal -->
<div class="modal" id="signup-modal">
  <div class="modal-content">
    <span class="modal-close"> <i class="fa fa-times"></i> </span>
    <div class="login-modal">
      <h4>Sign Up</h4>
      <form action="#" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="newUserEmail" name="userEmail">
          <label class="mdl-textfield__label" for="newUserEmail">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="newUserPassword" name="userPassword">
          <label class="mdl-textfield__label" for="newUserPassword">Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="userName" name="userName">
          <label class="mdl-textfield__label" for="userName">Name</label>
        </div>
        <button type="submit" class="login-button button-style"> Submit</button>
      </form>
      <div class="facebook-login button-style">
        <a href="#"><i class="fa fa-facebook"></i><span>Facebook으로 가입하기</span></a>
      </div>
    </div>
  </div>
</div>