<!DOCTYPE html>
<html lang="ko">
<head>
{{> /include/head}}
</head>
<body>

<div class="">
  {{> /include/other_header}}
  {{> /include/login_modal}}
  {{> /include/signup_modal}}

  <nav class="article-classify">
    <ul>
      <li class="article-nav-link"><a href="#"><i class="fa fa-tag"></i>맛집</a></li>
      <li class="article-nav-link"><a href="#"><i class="fa fa-tag"></i>펜션</a></li>
      <li class="article-nav-link"><a href="#"><i class="fa fa-tag"></i>술집</a></li>
      <li class="article-nav-link"><a href="#"><i class="fa fa-tag"></i>카페</a></li>
      <li class="article-nav-link"><a href="#"><i class="fa fa-tag"></i>명소</a></li>
    </ul>
  </nav>
  <main>
    <div class="main-searchbar main-center-align article-searchbar">
      <label for="searchValue"></label>
      <input type="text" placeholder="저격글을 검색하세요!" id="searchValue" name="searchValue" autofocus/>
      <button>검 색</button>
    </div>

    <a href="/articles/create">
      <p class="write-button"><i class="fa fa-pencil"></i>저격글 쓰러 가기</p>
    </a>

    <ul class="article-list-all">
      <li>
        <div class="article-box-list">
          <div>
            <img src="/img/example_article.png" alt="sample">
          </div>
          <div class="article-title">[강남 맛집] 미술관</div>
          <div class="article-content-thumnail">
            <p>여기 블로그 보고 갔는데, 양 창렬입니다. 사진 올라온 것들 믿고 가시면 정말 후회하십니다.
              직원들은 뭐이리 불친절한지, 다신 안 갈 것 같네요.</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>0</span>
            <span class="article-details"><i class="fa fa-comment"></i>0</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>0</span>
            <a href="/articles/detail" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="article-box-list">
          <div>
            <img src="/img/example_article.png" alt="sample">
          </div>
          <div class="article-title">[강남 맛집] 미술관</div>
          <div class="article-content-thumnail">
            <p>여기 블로그 보고 갔는데, 양 창렬입니다. 사진 올라온 것들 믿고 가시면 정말 후회하십니다.
              직원들은 뭐이리 불친절한지, 다신 안 갈 것 같네요.</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>0</span>
            <span class="article-details"><i class="fa fa-comment"></i>0</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>0</span>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="article-box-list">
          <div>
            <img src="/img/example_article.png" alt="sample">
          </div>
          <div class="article-title">[강남 맛집] 미술관</div>
          <div class="article-content-thumnail">
            <p>여기 블로그 보고 갔는데, 양 창렬입니다. 사진 올라온 것들 믿고 가시면 정말 후회하십니다.
              직원들은 뭐이리 불친절한지, 다신 안 갈 것 같네요.</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>0</span>
            <span class="article-details"><i class="fa fa-comment"></i>0</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>0</span>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>      </li>
      <li>
        <div class="article-box-list">
          <div>
            <img src="/img/example_article.png" alt="sample">
          </div>
          <div class="article-title">[강남 맛집] 미술관</div>
          <div class="article-content-thumnail">
            <p>여기 블로그 보고 갔는데, 양 창렬입니다. 사진 올라온 것들 믿고 가시면 정말 후회하십니다.
              직원들은 뭐이리 불친절한지, 다신 안 갈 것 같네요.</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>0</span>
            <span class="article-details"><i class="fa fa-comment"></i>0</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>0</span>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="article-box-list">
          <div>
            <img src="/img/example_article.png" alt="sample">
          </div>
          <div class="article-title">[강남 맛집] 미술관</div>
          <div class="article-content-thumnail">
            <p>여기 블로그 보고 갔는데, 양 창렬입니다. 사진 올라온 것들 믿고 가시면 정말 후회하십니다.
              직원들은 뭐이리 불친절한지, 다신 안 갈 것 같네요.</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>0</span>
            <span class="article-details"><i class="fa fa-comment"></i>0</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>0</span>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="article-box-list">
          <div>
            <img src="/img/example_article.png" alt="sample">
          </div>
          <div class="article-title">[강남 맛집] 미술관</div>
          <div class="article-content-thumnail">
            <p>여기 블로그 보고 갔는데, 양 창렬입니다. 사진 올라온 것들 믿고 가시면 정말 후회하십니다.
              직원들은 뭐이리 불친절한지, 다신 안 갈 것 같네요.</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>0</span>
            <span class="article-details"><i class="fa fa-comment"></i>0</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>0</span>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>
      </li>
      <li>
        <div class="article-box-list">
          <div>
            <img src="/img/example_article.png" alt="sample">
          </div>
          <div class="article-title">[강남 맛집] 미술관</div>
          <div class="article-content-thumnail">
            <p>여기 블로그 보고 갔는데, 양 창렬입니다. 사진 올라온 것들 믿고 가시면 정말 후회하십니다.
              직원들은 뭐이리 불친절한지, 다신 안 갈 것 같네요.</p>
          </div>
          <div class="article-list-details">
            <span class="article-details"><i class="fa fa-eye"></i>0</span>
            <span class="article-details"><i class="fa fa-comment"></i>0</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>0</span>
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left"
               style="margin-top: 3px;">MORE</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="article-count-navigation">
      <span><i class="fa fa-angle-left"></i></span>
      <div class="article-count">
        <span><a href="">1</a></span>
      </div>
      <span><i class="fa fa-angle-right"></i></span>
    </div>ㅞ

  </main>
  <div class="top-btn-area">
    <a href="#"><span class="top-btn">TOP</span></a>
  </div>
</div>

{{> /include/footer}}

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="/js/login_modal.js"></script>
<script src="/js/topScroll.js"></script>
</body>
</html>