<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Main page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/main_image.css">
  <link rel="stylesheet" href="/css/main_header.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/card_style.css">
  <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.css"></head>
<body>

<div class="">
  <div class="main-background-image">
    <div class="main-title text-center">
      <p>___________</p>
      <h3>상업용 블로그에 지친<span>소비자</span></h3>
      <p>화난 소비자들의 본격적인 반격</p>
      <a href="/articles/create">
        <p class="write-link"><i class="fa fa-pencil"></i>저격글 쓰러 가기</p>
      </a>
    </div>
  </div>
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><a href="/">앵그리컨슈머</a></span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        {{^sessionUser}}
        <a class="mdl-navigation__link" id="login_button">로그인</a>
        <a class="mdl-navigation__link" id="signup_button">회원가입</a>
        {{/sessionUser}}
        {{#sessionUser}}
        <a class="mdl-navigation__link"><img src="/img/me.jpg" alt="profile_image"></a>
        <a class="mdl-navigation__link" href="users/form">{{name}}</a>
        {{/sessionUser}}
      </nav>
    </div>
  </header>

  {{> /include/login_modal}}
  {{> /include/signup_modal}}

  <div class="main-searchbar main-center-align">
    <label for="searchValue"></label>
    <input type="text" placeholder="저격글을 검색하세요!" id="searchValue" name="searchValue" autofocus/>
    <button>검 색</button>
  </div>

  <div class="main-content">
    <p>최신 올라온 저격글 <span class="more_button"><a href="/articles"> >> 저격글더보기 >></a></span></p>
    <ul class="main-now-article-list">
      {{#articles}}
      <li>
        <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-card-align">
          <div class="mdl-card__title mdl-card__title_image">
            <h2 class="mdl-card__title-text">{{title}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            {{contents}}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <span class="article-details"><i class="fa fa-eye"></i>{{hit}}</span>
            <span class="article-details"><i class="fa fa-comment"></i>{{countOfComment}}</span>
            <span class="article-details"><i class="fa fa-heart-o"></i>{{agree}}</span>
            <a href="/articles/{{id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-align-left">MORE</a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
        </div>
      </li>
      {{/articles}}
    </ul>
    <div class="top-btn-area">
      <a href="#"><span class="top-btn">TOP</span></a>
    </div>
  </div>
</div>


<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">앵그리컨슈머</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="/js/login_modal.js"></script>
<script src="/js/topScroll.js"></script>
</body>
</html>